{{> header}}

<section class="row header-image m-0">
</section>

{{#if result}}
<section class="row m-0 my-5">
    <div class="col-12 px-5">
        <div class="row">
            <div class="col-12">
                <h1>ARTICLES</h1>
            </div>
        </div>
        {{#each result}}
        <hr class="custom-hr">
        <div class="row">
            <div class="col-10">
                <a href="{{link}}" target="_blank">
                    <h2>{{title}}
                    </h2>
                </a>
            </div>
            <div class="col-2 mt-2">
                <a href="/api/save/{{_id}}" class="btn btn-primary">SAVE ARTICLES</a>
            </div>
        </div>
        <hr class="custom-hr2">
        <div class="row">
            <div class="col-12">
                <h5>
                    {{summary}}
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><em>-by {{author}}</em></p>
            </div>
        </div>
        {{/each}}

        <hr class="custom-hr">
    </div>
</section>
{{/if}}

