{{> header}}


<section class="row m-0 my-5">
    <div class="col-12 px-5">
        {{#if result}}
        <div class="row">
            <div class="col-12">
                <h1>SAVED ARTICLES</h1>
            </div>
        </div>
        {{/if}}

        <hr class="custom-hr">
        {{#each result}}
        <div class="row">
            <div class="col-8">
                <a href="{{link}}" target="_blank">
                    <h2>{{title}}
                    </h2>
                </a>
            </div>
            <div class="col-2 mt-2 d-flex justify-content-center h-25">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{_id}}">ADD
                    NOTE</button>
            </div>
            <div class="col-2 mt-2">
                <a href="/api/saved/delete/{{_id}}" class="btn btn-primary">DELETE FROM SAVED</a>
            </div>
        </div>
        <hr class="custom-hr2">
        <div class="row">
            <div class="col-12">
                <h5>
                    {{summary}}
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><em>-by {{author}}</em></p>
            </div>
        </div>
        <hr class="custom-hr">
        <div class="modal fade" id="{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/api/saved/note/{{_id}}" method="POST">
                            {{#each notes}}
                            <div class="row note mb-1 mx-2 p-2">
                                <div class="col-10">
                                    <p class="m-0">{{body}}
                                    </p>
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <a href="/api/saved/note/delete/{{_id}}">
                                        <ion-icon name="trash"></ion-icon>
                                    </a>
                                </div>
                            </div>
                            {{/each}}
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Note:</label>
                                <textarea class="form-control" name="body" id="message-text"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>